body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: beige;
  background-color:chocolate;
}

code {
  font-family: source-code-pro, 'Lucinda grande', Monaco, 'Courier New', 'Courier New',
    monospace;
}
